body {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    background-image: url(https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    margin: 5vh 5vw 5vh 5vw;
}

header {
    font-size: 200%;
    background-color: rgba (223, 213, 0,9);
    width: 20vw;
    height: 8vh;
    margin: 5vh 35vw 5vh 35vw;
}

h1 {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    width: 70vw;  
    margin: 0vh 10vw 0vh 10vw;
}

.search {
    width: 40vw;
    margin-left: 10vw;
    padding: 10px;
    display: flex;    
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    width: 20vw;
    padding: 10px;
    display: flex;    
    flex-direction:row;
    justify-content:space-evenly;
}

.list{
    padding: 10px;
    list-style-type:none;
}

.li {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.listSongName { 
    color:rgb(97, 59, 201);
    font-weight: bold;
}

.listSongArtist { 
    color:rgb(124, 74, 241);
    font-size: 12px;
}

label, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

