body {
    box-sizing: border-box;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    margin: 5vh 5vw 5vh 5vw;
}

h1 {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    width: 70vw;  
    margin: 0vh 10vw 0vh 10vw;
}

.ljudio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    margin-bottom: 10px;
}

.search {
    padding-top: 30px;
    display: flex;    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player {
    padding-top: 30px;
    display: flex;    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    width: 20vw;
    padding: 10px;
    display: flex;    
    flex-direction:row;
    justify-content:space-evenly;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
    list-style-type:none;
}

.li {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.listSongName { 
    color:rgb(93, 73, 211);
    font-weight: bold;
}

.listSongArtist { 
    color:rgb(219, 134, 141);
    font-size: 12px;
}

label, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.nav {
    padding-top: 30px;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
}

