body {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    background-image: url(https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    margin: 5vh 5vw 5vh 5vw;
}

header {
    font-size: 200%;
    background-color: rgba (223, 213, 0,9);
    width: 20vw;
    height: 8vh;
    margin: 5vh 35vw 5vh 35vw;
}

h1 {
    margin: 0;
}

main {
    width: 70vw;  
    margin: 0vh 10vw 0vh 10vw;
}

.search {
    padding: 10px;
    display: flexbox;
    justify-content: space-between;
}

.button {
    padding: 10px;
    display: flexbox;
    justify-content: space-between;

}

.list{
    padding: 10px;
    list-style-type:none;
    display: flexbox;
    justify-content: space-between;
}
label, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

